body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.menu {
    background: #f97316;
    padding: 10px;
}

.menu a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

#content {
    padding: 20px;
}
